body {
    font-family: Arial;
    background: #f0f4f8;
}

.container {
    background: white;
    width: 320px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 6px;
}

button {
    margin-top: 10px;
}

li {
    list-style: none;
    margin: 6px;
    cursor: pointer;
}
